.carousel {
	position: relative;
	overflow: hidden;
}
.carousel .carouselSlider {
	position: absolute;
	top: 0;
	left: 0;
	width: 1400px;
}
.carousel .carouselSlider .carouselItem {
	float: left;
	display: block;
}
.carousel .carouselControls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
}
.carousel .carouselControlLeft,
.carousel .carouselControlRight {
	z-index: 3;  /* so face images don't overlap on hover */
	opacity: 0.7;
	position: absolute;
	top: -23px;
  height: 47px;
  width: 59px;
	background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -716px top;
	font-size: 0;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
}
.carousel .carouselControlLeft:hover {
	opacity: 1;
	cursor: pointer;
}
.carousel .carouselControlRight:hover {
	opacity: 1;
	cursor: pointer;
}
.carousel .carouselControlRight {
  background-position: -655px top;
	right: 0;
}
.carousel .carouselButtonDisabled {
	display: none;
}
.carousel .carouselPages {
	display: none;
	padding: 9px 0 0 0;
	text-align: center;
}
.ie7 .carousel .carouselPages {
	padding-top: 13px;
}
.carousel .carouselPages .pageButton {
	height: 7px;
	width: 10px;
	/*background: transparent url(/images/carousel-page-circles.gif) bottom center no-repeat;*/
}
.carousel .carouselPages .pageButton.activePage {
	background-position: top center;
}
