
#face-carousel {
    width: 1400px;
    height: 356px;
    background: #ece3da url(../images/salmon_texture.jpg) repeat-x;
}
/* center the faces */
#face-carousel .carouselSlider {
    left: -60px;
}
#face-carousel .face {
    position: relative;
    width: 300px;
    height: 356px;
    margin-bottom: 40px;
}
#face-carousel .face img {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    margin-left: -237px;
}
#face-carousel .carouselControls {
    height: 0;
    width: 1400px;
    position: relative;
    margin: 0 auto;
}

#face-carousel .carouselControlLeft,
#face-carousel .carouselControlRight {
    top: 150px;
}
