#header-carousel,
#header-carousel .carouselItem {
	position: relative;
	height: 532px;
	width: 1400px;
}
#header-carousel {
	position: absolute;
	top: 0;
	left: 0;
}
#header-carousel .face img {
	position: absolute;
	bottom: 0;
	margin-left: -200px;
	left: 50%;
	cursor: pointer;
}
#header-carousel .carouselControls {
	width: 100px;
	height: 60px;
	top: 392px;
	left: 220px;
}
#header-carousel .carouselControls .carouselControlRight,
#header-carousel .carouselControls .carouselControlLeft {
	background-position: -251px 0;
	height: 36px;
	width: 36px;
}
#header-carousel .carouselControls .carouselControlLeft {
	background-position: -215px 0;
}
