    #chosen-face {
        position: relative;
        height: 650px;
        background: transparent url(../images/gray_repeat_right.jpg);
    }

    #chosen-face .inner-wrap {
        height: 100%;
        overflow: hidden;
    }

    #chosen-face .inner-wrap.wide{
        width: 1400px;
    }

    #design,
    #choose-design {
        position: absolute;
        overflow: hidden;
        width: 480px;
        height: 100%;
        top: 0;
        background: transparent url(../images/nasty_fabric.png);
    }

    .wide #design,
    .wide #choose-design{
        width: 700px;
    }

    #design {
        background: transparent url(../images/gray_repeat_right.jpg);
        left: 0;
    }

    #design.no-auth *{
        opacity: .7;
    }

    #design.no-auth .auth-submit-confirm, #design.no-auth .auth-shim *{
        opacity: 1;
    }

    #design .auth-shim,
    #choose-design .auth-shim{
        z-index:7;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        background: rgba(0, 0, 0, .7);
        font-family: 'Rokkitt', serif;
        color: #fff;
    }


    #design .auth-shim h2,
    #choose-design .auth-shim h2{
        position: absolute;
        width: 100%;
        text-align: center;
        color: #fff;
        top: 35%;
        left: 0;
        font-family: 'Rokkitt', serif;
        font-weight: normal;
}
    #choose-design .auth-shim {
        cursor: pointer;
    }
    #choose-design .auth-shim h2{
        width: 66%;
        left: 16%;
        text-align: center;
    }

    #design .auth-shim form {
        position: absolute;
        left: 50%;
        top: 45%;
        margin-left: -140px;
        width:  280px;
        height:  47px;
        color: #fff;
        text-align: center;
}



    #design #design-form {
        background: transparent url(../images/gray_hatch_texture.jpg);
        height: 96px;
        width: 100%;
    }

    #design #design-form label {
        display: none;
    }
    #design #design-form input {
        background: none;
        border: 0;
        color: #333;
        font-size: 36px;
        position: absolute;
        left: 20px;
        top: 25px;
        font-weight: normal;
        padding-bottom: 5px;
        border-bottom: 1px solid #333;
    }
    #design #design-form input:focus, #design #design-form input:active {
        border-bottom: 1px solid #333;
        outline: none;
    }

    #design #sketchFront, #design #sketchSide {
        display: block;
        margin: 38px auto 19px -250px;
    }
    #sketchFrontWrap {
        display: none;
    }
    #design .controls{
        position: absolute;
        overflow: hidden;
        left: 0;
        bottom: 10px;
        padding: 10px 20px;
        background: rgba(0, 0, 0, .5);
        display: none;
    }

    #design .controls a{
        /*color: #fff;
        background: #333;
        padding: 3px 10px;
        height: 25px;

        display: block;
        line-height: 25px;
        float: left;*/
        text-decoration: none;
        /*border: 1px solid #f8f8f8;*/
    }
    #design .controls a.active {
        font-weight: bold;
    }
    /*#design .controls a.selected{
        background: #fff;
        color: #333;
        font-weight: bold;
    }*/

    #design .toggle-angle {
        position: absolute;
        top: 110px;
        left: 0;
        z-index: 6;
        opacity: .7;
        display: none;
        width: 160px;
        text-decoration: none;
    }
    #switch-sides-btn {
        display: block;
    }

    #design .toggle-angle:hover {
        opacity: 1;
    }

    #design #submit-sketch{
        position: absolute;
        top: 25px;
        left: 580px;
    }

    #design .design-and-donate {
        position: absolute;
        top: 20px;
        right: 0;

        z-index: 8;
        opacity: 1;
}
    #choose-design {
        right: 0;
    }
    #choose-design .pick-a-design-and-donate {
        position: absolute;
        bottom: 20px;
        left: 0;
        z-index: 8;
    }

    #choose-design-carousel {
        height: 640px;
        width: 960px;

        margin-top: 10px;
    }

    .wide #choose-design-carousel{
        width: 1400px;
    }

    #choose-design-carousel .carouselItem {
        position: relative;
    }

    #choose-design-carousel .face {
        position: relative;
        width: 420px;
        height: 660px;

}
    .carousel .choose-controls {
        z-index: 2;
    }
    .carousel .hover-shim {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    #choose-design-carousel .choose-controls, #submit-confirm {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 350px;
        padding: 10px 20px;
        line-height: 1.2em;
        background: #efefef;
        border: 2px solid #333;
        text-align: center;
    }
    #choose-design-carousel .choose-controls h4, #submit-confirm h4, #donate-instructions h4{
        color: #444;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 300;
        margin: 0;
    }

    #choose-design-carousel .choose-controls p , #submit-confirm p, #donate-instructions p {
        color: #464646;
        font-family: 'Rokkitt', serif;
        margin: 5px 0 0;
        padding-bottom: 10px;
    }

    #choose-design-carousel .choose-controls h2, #submit-confirm h2, #donate-instructions h2 {
        color: #555;
        font-size: 32px;
        font-weight: 700;
        margin: 0 0;
        cursor: pointer;
        line-height: 38px;
}

    #choose-design-carousel .choose-controls a, #submit-confirm a, #donate-instructions a {
        display: block;
        margin: 0 auto 5px;
}

    #submit-confirm .close, #donate-instructions .close{
        font-family: 'Rokkitt', serif;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    .choose-controls .sharing{
        display: block;
        height: 28px;
        width: 300px;
    }

    .choose-controls .sharing .fb-wrap{
        position: absolute;
        left: 180px;
        top: 150px;
    }

    .choose-controls .sharing .twitter-wrap{
        position: absolute;
        left: 90px;
        top: 150px;
    }

    .choose-controls .sharing .piterest-wrap{

    }

    #donate-instructions input{
        font-size: 18px;
        padding: 5px;
        text-align: center;
        margin-bottom: 5px;
    }

    #choose-design-carousel .choose-controls a:active {
        bottom: -20px;
    }

    #choose-design-carousel .face img {
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        margin-left: -400px;
        width: 800px;
    }
    /* these face images overlap, so when you hover on them, make it so the one you are currently hovering over is above the rest, that when you barely hover over another one it won't suddenly switch your focus
    .carousel .face img:hover {
        z-index: 1;
    }*/

    #choose-design-carousel .carouselControls {
        height: 0;
        width: 0;
        position: static;
        display:none;
    }

    .designs-user #choose-design-carousel .carouselControls {
        top: 0;
        height: 0;
        width: 100%;
        position: absolute;
        display: block;
    }
    .designs-user #choose-design-carousel .carouselControlLeft,
    .designs-user #choose-design-carousel .carouselControlRight {
        top: 250px;
    }

    .designs-user #choose-design-carousel .face img {
        bottom: 0;
        left: 50%;
        margin-left: -400px;
        width: 800px;
    }


    #choose-design-carousel .carouselControlLeft,
    #choose-design-carousel .carouselControlRight {
        top: 300px;
    }


    #submit-confirm{
        top: 200px;
        left: 50%;
        width: 350px;
        margin-left: -175px;
        display: none;
    }
