.sprite{
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
}

.sprite-donate-now{
    height: 40px;
    width: 214px;
    background-position: -1px top;
}

.sprite-design-and-donate{
    height: 98px;
    width: 247px;
    background-position: -467px top;
}

.sprite-design-and-donate.open{
    height: 97px;
    width: 85px;
    background-position: -1077px top;
}

.sprite-pick-a-design-and-donate{
    height: 98px;
    width: 336px;
    background-position: -718px top;
}

.sprite-pick-a-design-and-donate.open{
    height: 97px;
    width: 85px;
    background-position: -1166px top;
}

.sprite-heading{
    width: 431px;
    height: 98px;
    background-position: left -53px;
}

.sprite-donate-now{
    height: 40px;
    width: 215px;
    background-position: left top;
}

.sprite-donate-now-small{
    height: 28px;
    width: 150px;
    background-position: -307px top;
}

.sprite-submit{
    height: 40px;
    width: 214px;
    background-position: -466px -125px;
}

.sprite-facebook-connect{
    height: 47px;
    width: 280px;
    background-position: -693px -118px;
    display: block;
}
