/* ==========================================================================
   Chicago Stache
   ========================================================================== */


    html {

    }

    body {
        background: black;
        text-align: center;

    }

    h1, h2, h3, h4, h5{
        font-family: 'Open Sans Condensed', sans-serif;
    }

    small{
        font-size: .7em;
        vertical-align: top;
        color: #999;
    }

    a, a:active, a:focus{
      outline: none;
      border:0;
    }

    .messages{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .messages li{
        display:block;
        width: 100%;
        padding: 5px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        color: #C09853;
        background-color: #FCF8E3;
        border-bottom: 1px solid #FBEED5;
    }

    .messages li.success{
        color: #468847;
        background-color: #DFF0D8;
        border-bottom: 1px solid #D6E9C6;
    }

    .messages li.error{
        color: #B94A48;
        background-color: #F2DEDE;
        border-bottom: 1px solid #EED3D7;
    }

    #outerwrap{
        width: 960px;
        overflow: visible;
        margin: 0 auto;
    }

    #wrap {
        position: relative;
        width: 1400px;
        border: solid 1px #fff;
        text-align: left;
        margin: 0 auto;
        margin-left: -220px;
        overflow: hidden; /* for #face-carousel */
    }
    .inner-wrap {
        position: relative;
        width: 960px;
        margin: 0 auto;
    }
    #main-header {
        position: relative;
        height: 517px;
        margin-bottom: 109px;
        background: #ccc url(../images/header.jpg) no-repeat;
    }
    #logo{
        position: absolute;
        left: 0;
        top: 0;
        height: 150px;
        width: 400px;
    }
    #donate-now {
        position: absolute;
        top: 12px;
        right: 0;
    }

    #bookmarks{
      position: absolute;
      left: 130px;
      top: 70px;
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed', sans-serif;
    }

    #bookmarks a{
      text-decoration: none;
      color: #555;
    }

    #bookmarks a:hover{
      color: #000;
    }

    #main-header h2{
        position: absolute;
        left: 0;
        top: 220px;
    }

    #slogan {
        position: absolute;
        top: 517px;
        left: 0;
        height: 189px;
        width: 100%;
        margin: -40px 0;
        background-position: 0 -176px;
    }

    #slogan a{
        position: absolute;
        height: 188px;
        width: 188px;
        right: 199px;
        top: 0;
    }

    #main-footer {
        height: 374px;
        background: #ccc url(../images/footer.jpg) no-repeat;
    }

    .auth{
        font-family: 'Open Sans Condensed', sans-serif;
        position: absolute;
        text-transform: uppercase;
        right: 442px;
        width: 450px;
        top: 24px;
        overflow: hidden;
        font-size: 13px;
    }

    .auth p{
        margin: 0;
    }

    .auth > *{
        float: right;
        margin-left: 5px;
        color: #444;
        text-decoration: none;
    }

    .auth > a:hover{
        opacity: 1;
        color: #111;
    }


    .facebook-login{
        display:block;
        height: 23px;
        width: 150px;
        background: url(../images/signin_facebook.png) no-repeat left top;
    }

    .facebook-login:hover{
        background-position: left -24px;
    }

    .facebook-login:active{
        background-position: left -48px;
    }

    .full-page-shim{
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, .7);
      z-index: 8;
      display: none;
    }

    #donate-shim{
      display: none;
    }

    #donate-instructions{
      position: absolute;
      left: 50%;
      top: 20%;
      z-index: 9;
      padding: 20px 20px;
      line-height: 1.2em;
      background: #EFEFEF;
      border: 2px solid #000;
      text-align: center;
      margin-left: -340px;
      width: 680px;
    }

    #donate-instructions img{
      border: 1px dotted #999;
    }


    /**
     *    Real-World CSS
     *    by @visualidiot. Licensed under WTPFL.
     */

    /* @group Blink */

    .blink {
        -webkit-animation: blink .75s linear infinite;
        -moz-animation: blink .75s linear infinite;
        -ms-animation: blink .75s linear infinite;
        -o-animation: blink .75s linear infinite;
        animation: blink .75s linear infinite;
    }

    @-webkit-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }

    @-moz-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }

    @-ms-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }

    @-o-keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }

    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 1; }
        50.01% { opacity: 0; }
        100% { opacity: 0; }
    }

    /* @end */

  .modal-footer a.close {
    text-decoration: none;
  }

/*Bootstrap tooltips*/
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  margin-top: -3px;
}

.tooltip.right {
  margin-left: 3px;
}

.tooltip.bottom {
  margin-top: 3px;
}

.tooltip.left {
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

/*lazyloadr*/
img[data-lazy-src]{
  display:block;
  background: transparent url(../images/loading.gif) no-repeat 50% 50%;
}
